@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Cinzel';
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkslategray;
}

header {
    background-image: url(./imagens/imagem03.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

header > h1 {
     font-family: var(--font2);
    padding-top: 50px;
   font-variant: small-caps;
   font-size: 12%vw;
}

header > p {
    padding-bottom: 50px;
}

section{
    font-family: var(--font2);
    line-height: 2em;
     padding-top: 10vh;
     padding-bottom: 10vh;
     padding-left: 30px;
     font-size: 6%vw;
    
}
section>p {
    padding-bottom: 1.5em;
}
section.normal{
    background-color: rgb(255, 240, 240);
    color: black;
}
section.imagem{ 
    box-shadow: inset 4px 4px 11px 0px rgba(15, 15, 15, 0.865);
    background-color: black;
    color: rgb(247, 232, 232);
    background-size: cover;
     background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    padding: 3px;
    width: 380px;
    background-color: (0, 0, 0, 0.254);
    text-shadow: 1px 1px 0 black;
   
}
section#img01{
    background-image: url(./imagens/imagem04.jpg);

}
section#img02{
    background-image: url(./imagens/imagem2.jpg);

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}